@charset "utf-8";
/* CSS Document */

#header_photo {
	height: 145px;
}

#main {
	width: 775px;
	float: left;
}

#main #col_one{
	width: 245px;
	float: left;
	padding-right: 15px;
}

#main #col_two{
	float: left;
	width: 245px;
	padding-right: 15px;
}

#main #col_three{
	float: left;
	width: 245px;
}

#hp_buttons {
	width: 200px;
	float: right;
	text-align: right;
	border-left: 1px dashed #CCC; 
}

/*
#hp_buttons img{
-webkit-box-shadow: 4px 4px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 6px rgba(50, 50, 50, 0.50);
}*/

div.hm_box {
	width: 245px;
	margin-bottom: 15px;
	border: 1px solid #399090;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 4px 4px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 6px rgba(50, 50, 50, 0.50);
}

div.hm_box_img {
	position: relative;
	height: 80px;
}

div.hm_box_img img {
	height: 100%;
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

h3.title {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 3px;
	left: 1px;
	color: #fff;
	background: rgb(6,106,106);
	background: rgba(6,106,106,.8);
	font-size: 1.6em;
	text-align: center;
}

#content div.hm_box ul {
	margin-top: 7px;
	margin-left: 0;
}

div.hm_box li {
	padding-bottom: 5px;
}

div#headlines {
	margin-top: 20px;
}
