@charset "UTF-8";

/*--------------------------------  Helper.css  --------------------------------*/

/*This styles the menu structure*/
#menu{
	clear: both;
	width: 100%;
	height: 25px;
	background: url('../images/styls/dot-intra-menu-bg.gif') repeat-x top center #DCF7F8;
	font-family: Helvetica, Arial, sans-serif;
	border-top: solid 1px #bdbcbc;
	border-bottom: solid 2px #333333;
}

#menu ul.dropdown {
 position: relative;
 z-index: 597;
}

#menu ul.dropdown li {
 border-right: 1px solid #fff; 
 float: left;
}

#menu ul.dropdown li.hover, #menu ul.dropdown li:hover {
 background-color: #FFF;
 position: relative;
 z-index: 599;
 cursor: default;
}

#menu ul.dropdown li:hover > *.dir {
	 background-color: #fff; 
	 color: #000;
}

#menu ul.dropdown a:link, #menu ul.dropdown a:visited { color: #000; text-decoration: none; }
#menu ul.dropdown a:hover		{ color: #000; }
#menu ul.dropdown a:active	{ color: #000; }

#menu ul.dropdown ul {
 width: 200px;
 visibility: hidden;
 position: absolute;
 z-index: 598;
}

#menu ul.dropdown ul li {
 font-weight: normal;
 float: none;
 font-size: 1em;
}

#menu ul.dropdown *.dir {
 padding-right: 20px; 
 background-image: url(../images/styls/nav-arrow-down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

#menu ul.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(../images/styls/nav-arrow-right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

#menu ul.dropdown a, #menu ul.dropdown span {
 display: block;
 padding: 4px 15px 5px;
}

#menu ul.dropdown ul a, #menu ul.dropdown ul span {
 padding: 5px;
}

#menu ul.dropdown li ul {
 border-style: solid;
 border-width: 2px 2px;
 border-color: #333333;
 font-size: 1em;
 background: url(../images/styls/dot_dropdownBG.png) repeat;
}

#menu ul.dropdown, #menu ul.dropdown li, #menu ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
 font-size: .9em;
}

#menu ul.dropdown ul ul {
 top: -2px;
 left: 99%;
}

#menu ul.dropdown li:hover > ul {
 visibility: visible;
}