@charset "utf-8";
/* CSS Document */

#content #col_one{
	width: 220px;
	float: left;
	padding-right: 10px;
}

#content #col_two{
	float: left;
	width: 240px;
	padding-right: 15px;
}

#content #col_three{
	float: left;
	width: 240px;
	padding-right: 15px;
}

#content #col_four{
	float: left;
	width: 240px;
}

/* THIS STYLES THE MENU LISTS */

#content #col_one ul, #content #col_two ul, #content #col_three ul, #content #col_four ul {
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 0;
}

#content #col_one ul ul, #content #col_two ul ul, #content #col_three ul ul, #content #col_four ul ul {
	margin-bottom: 0;
	margin-top: 5px;
}
/* END STYLE MENU LISTS */