@charset "utf-8";
/* CSS Document */

/* General Styles */
img.doc_img {
	border: none;
	vertical-align: middle;
}

.v_top {
	vertical-align: top;
}
.v_middle {
	vertical-align: middle;
}

.v_bottom {
	vertical-align: bottom;
}

.text_left {
	text-align: left;
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}


/* End General Styles */

/* Sidebar Menu */
#sidebar table {
	width: 205px;
	border: none;
	padding: 0;
}

#sidebar td {
	padding: 2px 2px 3px 3px;
}

#sidebar td.arrow {
	width: 10px;
	text-align: center;
	vertical-align: top;
	padding: 2px;
}

#sidebar td.sidebar_right {
	width: 195px;
}

#sidebar table table {
	float: right;
	width: 167px;
	color: #006;
	margin-left: 10px;
}

/*  End Sidebar Menu */

/*  Sidebar Menu Statewide Design box*/
#sidebar div.side_contact {
	width: 190px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #333;
	padding: 4px;
}

#sidebar hr {
	width: 75%;
	margin: 4px auto;
	border: none;
 	background-color: #999;
	color:#999;
 	height: 1px;
}



/*  End Sidebar MenuStatewide Design box  */

/* Banner Caption */
table#banner_caption {
	width: 100%;
}

table#banner_caption td {
	height: 15px;
	padding: 1px;
	background-color: #eeeeee;
	text-align: center;
}
/*  End Banner Caption */

/*  Removes dotted underline on abbreviation tag in Firefox */
abbr {
	border: none;
	border-width: 0;
}
/*  End Removes dotted underline in Firefox */



/* Main pages link lists instead of tables */

ul.gateway_lists {
	list-style: none;
	margin: 3px 0 7px 0;
	padding: 0;
}


ul.gateway_lists li {
	padding: 2px 5px 4px 15px;
	background: url(/images/styls/bullet_l1.png) no-repeat 2px 6px;
}

ul.gateway_lists ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.gateway_lists li li { 
	margin-left: 0;
	padding: 2px 5px 2px 20px;
	background: url(/images/styls/bullet_l2.png) no-repeat 2px 6px;
}



/* End Main page lists instead of tables */



/********************/
/* EXPANDABLE LIST  */
/********************/
#listContainer{
  margin-top:15px;
}

#expList ul, #expList li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}

#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 15px;
    background-repeat: no-repeat;
}

#expList li a {
	padding-left: 16px;
	background: url(/images/styls/bullet_l2.png) no-repeat;
	background-position: 0 8px;
}


/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(/images/styls/menu_collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(/images/styls/menu_expanded.png);
}
#expList {
    clear: both;
}

.listControl{
  margin-bottom: 5px;
}
.listControl a {
    border: 1px solid #FFCC33;
    color: #003366;
    cursor: pointer;
    height: 1.5em;
    line-height: 1.5em;
    margin-right: 5px;
    padding: 2px 10px;
}
.listControl a:hover {
    background-color: #E3ECEF;
    font-weight:normal;
}
/********************/
/* END EXPANDABLE LIST  */
/********************/