@charset "utf-8";
/* DOT specific settings

/*---------------------- Styling for the Main Navigation area, Home, Travel Info, Doing Business ---------------
------------------------ Becareful with this as it is easy to break -------------------------------------------*/
/*These all control the look and feel of the DOT Main Nav*/

/*------------------------------------------------------------------------------------------------------------------*/
#header_photo_gw{
	border-top: 1px solid #FFCC00;
	display: block;
	width: 960px;
	height: 172px;
	background: #fff;
	clear: both;
	position: relative;
}

#dot_main_nav{
	display: block;																			
	width: 960px;
	height: 26px;
	border-bottom: 1px solid #FFCC00;
	background: url(/images/nav/navbg-gateway.gif);
	position: relative;
}

/*Background for the navigation left side*/
#dot_main_nav_left{
	background: url(/images/nav/navbg-gateway.gif);
	width: 10px;
	height: 24px;
	float: left;
}
/*Background for the navigation right side*/
#dot_main_nav_right{
	background: url(/images/nav/navbg-gateway.gif);
	width: 10px;
	height: 24px;
	float: right;
}

/*This is the "container" for the list of links on the dot_main_nav*/
#dot_main_nav ul{
	padding: 4px 0 0 10px;
	margin: 0;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
}

/*This is the styling for each list item in the top bar list of links*/
#dot_main_nav ul li{
	display: inline;
	list-style: none;
	padding: 0 7px;
}

/*Style for the actual links in the dot_main_nav*/
#dot_main_nav ul li a{
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
}

/*Style for the hover / focus state of the list of links in the dot_main_nav*/
#dot_main_nav ul li a:hover, #dot_main_nav ul li a:focus{
	text-decoration: none;
	color: #FFCC00;
	border-top: 1px solid #FFCC00;
}

/* Nav tabs active high-lighting */
#nav1 li.tab1 a, #nav2 li.tab2 a, #nav3 li.tab3 a, #nav4 li.tab4 a, #nav5 li.tab5 a, #nav6 li.tab6 a, #nav7 li.tab7 a{
	text-decoration: none;
	color: #FFCC00;
	border-top: 1px solid #FFCC00;
}
/*-------------------------------------- End DOT Main Navigation Styling --------------------------------------*/

/*------------------------- Styling for the Buttons on the Home Page below the banner -------------------------*/
#menu_buttons{
	width: 100%;
	height: 87px;
	background: #FFF;
	overflow: hidden;
	position: relative;
	padding: 4px 0px;
	font-size: 12px;
}

#menu_buttons ul{
	clear: left;
	float:left;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

#menu_buttons ul li{
	display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 4px 10px;
    position: relative;
    right: 50%;
}
/*---------------------------------------- End Styling for the Buttons ----------------------------------------*/