@charset "utf-8";
/* CSS Document */

#footer_decoration{
	visibility: hidden;	
}

ul#menu_list li ul{
	background: #fff;
	left: auto;
	top: auto;
}

#photo_banner, #photo_banner img{
	padding: 0;
	margin: 0;
}

.box li{
	list-style-image: url('../images/Star_IE.gif');
}